.container2{
	background-color: #2f98ad;
	text-align:center;
}

body{
	background-image: url(https://img.freepik.com/free-vector/realistic-snowflake-border_23-2149242370.jpg?w=740&t=st=1726624284~exp=1726624884~hmac=60a0bafb4c74d861466d28faa09dd152677c1c4d26f4f4314363e6efe82fecf2);
	background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;

